/* 
	Chat 
*/

#chat_page {
	background-color: #DDEBD8;
  height: 100%;
  padding: 10px;
}

#chat_page ul {
  position: absolute;
  left: 0;
  right: 0;
  height: 90%;
  width: 60%;
  margin: auto;
  padding: 0;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  overflow-y: auto;
}

#chat_page form {
  position: absolute;
  height: 10%;
  width: 60%;
  top: 90%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding : 20px 0 0 0;
}

#chat_page li {
  margin: 7px 20px;
  list-style-type: none;
}

.user_connected {
  margin: auto;
  width: 100%;
  left:0;
}