#chat_page {
	background-color: #DDEBD8;
  height: 100%;
  padding: 10px;
}

#chat_page ul {
  position: absolute;
  left: 0;
  right: 0;
  height: 90%;
  width: 60%;
  margin: auto;
  padding: 0;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  overflow-y: scroll;
}

#chat_page form {
  position: absolute;
  height: 10%;
  width: 60%;
  top: 90%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding : 20px 0 0 0;
}

#chat_page li {
  margin: 7px 20px;
  list-style-type: none;
}

.span_block{
  display: block;
  float: left;
  clear:both;
}

#username{
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif
}

#message{
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.notification {
  margin: auto;
  width: 100%;
  left:0;
  clear: both;
  display: block;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
}