.message_sent::before {
    background-color: #F2F2F2;
    content: "\00a0";
    height: 16px;
    position: absolute;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
}

.message_sent {
    background-color: #F2F2F2;
	border-color: #cdecb0;
	box-shadow: 0 0 6px #B2B2B2;
	border-radius: 5px;
	padding: 10px 20px;
	margin: 10px 10px;
	vertical-align: top;
	position: relative;
    float: left;
    clear: both;
}

.message_received::before {
    float:right;
    background-color: #dfeecf;
    content: "\00a0";
    display: block;
    height: 19px;
	position:relative;
    left: 30px;
    transform:             rotate( 205deg ) skew( -35deg );
        -moz-transform:    rotate( 205deg ) skew( -35deg );
        -ms-transform:     rotate( 205deg ) skew( -35deg );
        -o-transform:      rotate( 205deg ) skew( -35deg );
        -webkit-transform: rotate( 205deg ) skew( -35deg );
    width:  20px;
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
}

.message_received {
	background-color: #dfeecf;
	border-color: #cdecb0;
	box-shadow: 0 0 6px #B2B2B2;
	padding: 10px 20px;
	margin: 10px 10px;
    float: right;
    clear: both;
	border-radius: 5px;
	position: relative;
}